<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hatimeria>
            <reagento>
                <app_logo_img>http://emperia.ch/logo.png</app_logo_img>
                <app_home_url>http://emperia.ch/</app_home_url>
            </reagento>
        </hatimeria>
    </default>
</config>