<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hatimeria>
            <reagento>
                <app_logo_img>/logo.png</app_logo_img>
                <app_home_url>/</app_home_url>
            </reagento>
            <payment>
                <paypal_redirect_success>checkout/success</paypal_redirect_success>
                <paypal_redirect_failure>checkout/failure</paypal_redirect_failure>
                <paypal_redirect_cancel>checkout/cancel</paypal_redirect_cancel>
            </payment>
        </hatimeria>
    </default>
</config>