<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- INTERFACE PREFERENCES FOR DI -->
    <preference for="Hatimeria\Reagento\Api\Catalog\AttributeManagementInterface" type="Hatimeria\Reagento\Model\Catalog\AttributeManagement" />
    <preference for="Hatimeria\Reagento\Api\CategoryBreadcrumbsInterface" type="Hatimeria\Reagento\Model\CategoryBreadcrumbs" />
    <preference for="Hatimeria\Reagento\Api\CategoryManagementInterface" type="Hatimeria\Reagento\Model\CategoryManagement" />
    <preference for="Hatimeria\Reagento\Api\Customer\AddressRepositoryInterface" type="Hatimeria\Reagento\Model\Customer\AddressRepository" />
    <preference for="Hatimeria\Reagento\Api\ContactFormInterface" type="Hatimeria\Reagento\Model\ContactForm" />
    <preference for="Hatimeria\Reagento\Api\Data\BreadcrumbInterface" type="Hatimeria\Reagento\Model\Api\Data\Breadcrumb" />
    <preference for="Hatimeria\Reagento\Api\Data\CategorySearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Hatimeria\Reagento\Api\Data\CategoryTreeInterface" type="Hatimeria\Reagento\Model\Category" />
    <preference for="Hatimeria\Reagento\Api\Data\FilterInterface" type="Hatimeria\Reagento\Model\Api\Data\Filter" />
    <preference for="Hatimeria\Reagento\Api\Data\FilterOptionInterface" type="Hatimeria\Reagento\Model\Api\Data\FilterOption" />
    <preference for="Hatimeria\Reagento\Api\Data\GalleryMediaEntrySizeInterface" type="Hatimeria\Reagento\Model\GalleryMediaEntrySize" />
    <preference for="Hatimeria\Reagento\Api\Data\InfoDataInterface" type="Hatimeria\Reagento\Model\InfoData" />
    <preference for="Hatimeria\Reagento\Api\Data\MenuInterface" type="Hatimeria\Reagento\Model\Api\Data\Menu" />
    <preference for="Hatimeria\Reagento\Api\Data\OrderInfoInterface" type="Hatimeria\Reagento\Model\OrderInfo" />
    <preference for="Hatimeria\Reagento\Api\Data\OrderResponseInterface" type="Hatimeria\Reagento\Model\Api\Data\OrderResponse" />
    <preference for="Hatimeria\Reagento\Api\Data\UrlDataInterface" type="Hatimeria\Reagento\Model\UrlData" />
    <preference for="Hatimeria\Reagento\Api\HatimeriaGuestOrderManagementInterface" type="Hatimeria\Reagento\Model\GuestOrderManagement" />
    <preference for="Hatimeria\Reagento\Api\HatimeriaOrderManagementInterface" type="Hatimeria\Reagento\Model\OrderManagement" />
    <preference for="Hatimeria\Reagento\Api\HomeCategoriesInterface" type="Hatimeria\Reagento\Model\CategoryRepository" />
    <preference for="Hatimeria\Reagento\Api\InfoInterface" type="Hatimeria\Reagento\Model\Info" />
    <preference for="Hatimeria\Reagento\Api\Integration\AdminTokenServiceInterface" type="Hatimeria\Reagento\Model\Integration\AdminTokenService" />
    <preference for="Hatimeria\Reagento\Api\Integration\CustomerTokenServiceInterface" type="Hatimeria\Reagento\Model\Integration\CustomerTokenService" />
    <preference for="Hatimeria\Reagento\Api\Integration\Data\AdminTokenInterface" type="Hatimeria\Reagento\Model\Integration\AdminToken" />
    <preference for="Hatimeria\Reagento\Api\MenuRepositoryInterface" type="Hatimeria\Reagento\Model\MenuRepository" />
    <preference for="Hatimeria\Reagento\Api\Payment\Data\PaypalDataInterface" type="Hatimeria\Reagento\Model\Payment\PaypalData" />
    <preference for="Hatimeria\Reagento\Api\Payment\PaypalInterface" type="Hatimeria\Reagento\Model\Payment\Paypal" />
    <preference for="Hatimeria\Reagento\Api\ProductRepositoryInterface" type="Hatimeria\Reagento\Model\ProductRepository" />
    <preference for="Hatimeria\Reagento\Api\QuoteMaskInterface" type="Hatimeria\Reagento\Model\QuoteMask" />
    <preference for="Hatimeria\Reagento\Api\UrlInterface" type="Hatimeria\Reagento\Model\Url" />

    <!-- OVERRIDES -->
    <preference for="Magento\Catalog\Helper\Image" type="Hatimeria\Reagento\Helper\Catalog\Image" />
    <preference for="Magento\Paypal\Model\Express\Checkout" type="Hatimeria\Reagento\Model\Payment\Paypal\Express\Checkout" />
    <preference for="Magento\Paypal\Model\Express" type="Hatimeria\Reagento\Model\Payment\Paypal\Express" />
    <preference for="Magento\Paypal\Model\Express\Checkout" type="Hatimeria\Reagento\Model\Payment\Paypal\Express\Checkout" />
    <preference for="Magento\Paypal\Model\Pro" type="Hatimeria\Reagento\Model\Payment\Paypal\Pro" />

    <!-- CUSTOM MAGENTO COMMANDS -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="rapidflowAttributeOptions" xsi:type="object">Hatimeria\Reagento\Console\Command\Rapidflow\Attribute\OptionsCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- ARGUMENTS FOR CONSTRUCTORS -->
    <type name="Magento\Catalog\Model\ProductRepository">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">ProductRepositoryCollectionFactory</argument>
            <argument name="searchResultsFactory" xsi:type="object">ProductRepositorySearchResultsFactory</argument>
        </arguments>
    </type>
    <virtualType name="ProductRepositoryCollectionFactory" type="Magento\Catalog\Model\ResourceModel\Product\CollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Hatimeria\Reagento\Model\ResourceModel\Product\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="ProductRepositorySearchResultsFactory" type="Magento\Catalog\Api\Data\ProductSearchResultsInterfaceFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Hatimeria\Reagento\Api\SearchResults</argument>
        </arguments>
    </virtualType>

    <!-- PLUGINS -->
    <type name="Magento\CatalogUrlRewrite\Model\Product\AnchorUrlRewriteGenerator">
        <plugin name="hatimeriaReagentoAnchorUrlRewriteGeneratorPlugin" type="Hatimeria\Reagento\Plugin\CatalogUrlRewrite\Model\Product\AnchorUrlRewriteGenerator" />
    </type>
    <type name="Magento\CatalogUrlRewrite\Model\Product\CategoriesUrlRewriteGenerator">
        <plugin name="hatimeriaReagentoCategoriesUrlRewriteGeneratorPlugin" type="Hatimeria\Reagento\Plugin\CatalogUrlRewrite\Model\Product\CategoriesUrlRewriteGenerator" />
    </type>
    <type name="Magento\CatalogUrlRewrite\Model\Product\CurrentUrlRewritesRegenerator">
        <plugin name="hatimeriaReagentoCurrentUrlRewritesRegeneratorPlugin" type="Hatimeria\Reagento\Plugin\CatalogUrlRewrite\Model\Product\CurrentUrlRewritesRegenerator" />
    </type>
    <type name="Magento\CatalogUrlRewrite\Observer\UrlRewriteHandler">
        <plugin name="hatimeriaReagentoUrlRewriteHandlerPlugin" type="Hatimeria\Reagento\Plugin\CatalogUrlRewrite\Observer\UrlRewriteHandler" />
    </type>
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="hatimeriaReagentoOrderManagementPlugin" type="Hatimeria\Reagento\Plugin\Sales\Api\OrderManagement" />
    </type>
</config>
