<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cms\Model\ResourceModel\Page\Collection" type="\Hatimeria\Reagento\Model\ResourceModel\Page\Collection" />
    <preference for="Magento\Cms\Model\ResourceModel\Block\Collection" type="\Hatimeria\Reagento\Model\ResourceModel\Block\Collection" />
    <preference for="Magento\Catalog\Model\ResourceModel\Category" type="\Hatimeria\Reagento\Model\ResourceModel\Category" />
    <preference for="Magento\Catalog\Model\ResourceModel\Category\Collection" type="\Hatimeria\Reagento\Model\ResourceModel\Category\Collection" />
    <preference for="Hatimeria\Reagento\Api\HatimeriaGuestCartManagementInterface" type="\Magento\Quote\Model\GuestCart\GuestCartManagement" />
    <preference for="Hatimeria\Reagento\Api\HatimeriaCartManagementInterface" type="\Magento\Quote\Model\QuoteManagement" />
    <preference for="Hatimeria\Reagento\Api\HatimeriaGuestPaymentInformationManagementInterface" type="\Magento\Checkout\Model\GuestPaymentInformationManagement" />
    <preference for="Hatimeria\Reagento\Api\HatimeriaPaymentInformationManagementInterface" type="\Magento\Checkout\Model\PaymentInformationManagement" />
    <type name="Magento\Catalog\Model\Product">
        <plugin name="hatimeriaReagentoAfterProductLoad" type="\Hatimeria\Reagento\Model\Plugin\AfterProductLoad"/>
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="hatimeriaReagentoAfterCategoryLoad" type="\Hatimeria\Reagento\Model\Plugin\AfterCategoryLoad" />
    </type>
    <type name="Magento\Quote\Model\Cart\Totals\ItemConverter">
        <plugin name="hatimeriaReagentoItemConverter" type="Hatimeria\Reagento\Model\Plugin\ItemConverter" />
    </type>
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="hatimeriaReagentoAfterPlaceOrder" type="Hatimeria\Reagento\Model\Plugin\AfterPlaceOrder" />
    </type>
    <type name="Magento\Store\Api\StoreConfigManagerInterface">
        <plugin name="hatimeriaReagentoAdditionalConfig" type="Hatimeria\Reagento\Model\Plugin\AfterGetStoreConfigs" />
    </type>
    <type name="Magento\Store\Api\StoreRepositoryInterface">
        <plugin name="hatimeriaReagentoAfterGetStoreViewList" type="Hatimeria\Reagento\Model\Plugin\AfterGetStoreViewList" />
    </type>
</config>
