<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="deity" translate="label" sortOrder="500">
            <label>Deity</label>
        </tab>
        <section id="deity" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>MagentoApi</label>
            <tab>deity</tab>
            <resource>Magento_Catalog::config_catalog</resource>
            <group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="clear_cache" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable node cache clear</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="node_server" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Node server url</label>
                    <comment>Leaving fill empty will use default BASE_URL</comment>
                </field>
            </group>
            <group id="frontend" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Frontend</label>
                <field id="domain" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frontend Domain</label>
                    <comment>Provide base url for frontend domain. It will be used in some redirects</comment>
                </field>
            </group>
            <group id="catalog" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog</label>
                <field id="show_category_filter" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show category filter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="availability_status" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show filter availability</label>
                    <comment>If set to `Yes` filter option availability will be calculated and returned with product list</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="breadcrumbs_attributes" translate="label comment" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Breadcrumbs attributes</label>
                    <comment>Select attributes that will be used while creating product breadcrumbs to return to filtered results</comment>
                    <source_model>Deity\MagentoApi\Model\Config\Source\BreadcrumbsAttribute</source_model>
                </field>
                <field id="disable_product_links" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Product Links in Product List Api Endpoint</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_product_category_rewrites" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Product Links with Category</label>
                    <comment>Disable generating url rewrites with category in path for products.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="deity_payment" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Payment</label>
            <tab>deity</tab>
            <resource>Magento_Payment::payment</resource>
            <group id="paypal" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Paypal</label>
                <field id="paypal_redirect_success" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Paypal Redirect Success</label>
                    <comment>Redirect to address or path</comment>
                </field>
                <field id="paypal_redirect_failure" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Paypal Redirect Failure</label>
                    <comment>Redirect to address or path</comment>
                </field>
                <field id="paypal_redirect_cancel" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Paypal Redirect Cancel</label>
                    <comment>Redirect to address or path</comment>
                </field>
            </group>
        </section>
    </system>
</config>
